<template>
  <div>
    <input type="number" class="input" :value="amount" v-on:input="onChangeAmount">
    <select :value="selectedCurrency" v-on:change="onChangeCurrency">
      <option v-for="option in currencyOptions" :key="option">{{option}}</option>
    </select>
  </div>
</template>

<script>

export default {
  name:'Currency',
  props: {
    currencyOptions: Array,
    selectedCurrency: String,
    amount: Number,
    onChangeCurrency: Function,
    onChangeAmount: Function
  }
}

</script>

<style scoped lang="scss">
@mixin border {
  border: 1px solid #333;
  border-radius: .5em;
  padding: .25rem;
}

.input {
  @include border();
  width: 9em;
  font-weight: bold;
}

select {
  @include border();
  margin-left: .5em;
  width: 5em;
}

</style>