<template>
  <div id="app">
    <div class="container">
      <h1>Convert</h1>
      <Currency
          :currencyOptions="currencyOptions"
          :selectedCurrency="fromCurrency"
          :amount="fromAmount"
          :onChangeCurrency="handleFromCurrencyChange"
          :onChangeAmount="handleFromAmountChange"
      />
      <div class="equals">=</div>
      <Currency
          :currencyOptions="currencyOptions"
          :selectedCurrency="toCurrency"
          :amount="toAmount"
          :onChangeCurrency="handleToCurrencyChange"
          :onChangeAmount="handleToAmountChange"
      />
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import Currency from "@/components/Currency";

const BASE_URL = "https://api.exchangeratesapi.io/latest";
const BASE_URL_CRYPTO = "https://api.binance.com/api/v3/ticker/price";

export default {
  name: 'App',
  components: {Currency},
  data() {
    return {
      currencyOptions: [],
      cryptoData: [], //from the API
      cryptoSymbols: [], //filter some symbols
      cryptoCurrencies: [], //the crypto-currency from each symbol
      cryptoToCurrencyChange: false,
      fromCurrency: "",
      toCurrency: "",
      amount: 1,
      amountInFromCurrency: true,
      exchangeRate: "",
      fromAmount: 0,
      toAmount: 0
    };
  },
  async created() {
    try {
      //Get API responses from localStorage
      let fiat = JSON.parse(localStorage.getItem('fiat_data'));
      let crypto = JSON.parse(localStorage.getItem('crypto_data'));
      
      if(fiat) {
        const targetCurrency = Object.keys(fiat.data.rates)[4];   //for DKK
        this.currencyOptions = [fiat.data.base, ...Object.keys(fiat.data.rates)];
        this.fromCurrency = fiat.data.base;
        this.toCurrency = targetCurrency;
        this.exchangeRate = fiat.data.rates[targetCurrency];

      } else {
        //Get API response normally if its content isn't already cached
        const res = await axios.get(BASE_URL);

        const targetCurrency = Object.keys(res.data.rates)[4];   //for DKK
        this.currencyOptions = [res.data.base, ...Object.keys(res.data.rates)];
        this.fromCurrency = res.data.base;
        this.toCurrency = targetCurrency;
        this.exchangeRate = res.data.rates[targetCurrency];

        //Save API response to localStorage
        localStorage.setItem('fiat_data', JSON.stringify(res));
      }

      if(crypto) {
        this.cryptoData = crypto.data;
      } else {
        const res2 = await axios.get(BASE_URL_CRYPTO);

        this.cryptoData = res2.data;

        //Save API response to localStorage
        localStorage.setItem('crypto_data', JSON.stringify(res2));
      }

      this.getCryptoCurrencies();

      //append crypto-currency options to the currencyOptions array
      this.currencyOptions = [...this.currencyOptions, ...this.cryptoCurrencies];

      this.calculateAmounts();
    } catch (e) {
      console.log(e);
    }
  },
  async updated() {
    if(this.fromCurrency === this.toCurrency) { //only EUR to EUR has an issue, due to the api JSON output
      this.exchangeRate = 1;    //so we force the correct result for this specific case
    }

    //check if the selected currency is a crypto-currency
    let crypto = this.isCryptoCurrency();

    if(crypto) {
      await this.findCryptoExchangeRate();
    } else {
      try {
        const res = await axios.get(`${BASE_URL}?base=${this.fromCurrency}&symbols=${this.toCurrency}`);
        this.exchangeRate = res.data.rates[this.toCurrency];
      } catch (e) {
        console.log("now");
        console.log(e);
      }
    }
    this.calculateAmounts();
  },
  methods: {
    handleFromCurrencyChange(e) {
      this.fromCurrency = e.target.value;
      this.amountInFromCurrency = true;
      this.cryptoToCurrencyChange = false;
      this.calculateAmounts();
    },
    handleToCurrencyChange(e) {
      this.toCurrency = e.target.value;
      this.amountInFromCurrency = true;
      this.cryptoToCurrencyChange = true;
      this.calculateAmounts();
    },
    handleFromAmountChange(e) {
      this.amount = parseInt(e.target.value);
      this.amountInFromCurrency = true;
      this.calculateAmounts();
    },
    handleToAmountChange(e) {
      this.amount = parseInt(e.target.value);
      this.amountInFromCurrency = false;
      this.calculateAmounts();
    },
    calculateAmounts() {
      let fromAmount, toAmount;

      if (this.amountInFromCurrency) {
        fromAmount = this.amount;
        toAmount = this.amount * this.exchangeRate;
      } else {
        toAmount = this.amount;
        fromAmount = this.amount / this.exchangeRate;
      }
      this.fromAmount = fromAmount;
      this.toAmount = toAmount;
    },
    getCryptoCurrencies() {
      let cryptoSymbols = [];
      let cryptoCurrencies = [];

      this.cryptoData.forEach((currency) => {
        if(currency.symbol.endsWith("EUR")) {
          cryptoSymbols.push(currency);
          cryptoCurrencies.push(currency.symbol.replace("EUR",""));
        }
      });
      this.cryptoSymbols = cryptoSymbols;
      this.cryptoCurrencies = cryptoCurrencies;
    },
    isCryptoCurrency() {
      return this.cryptoCurrencies.includes(this.fromCurrency) || this.cryptoCurrencies.includes(this.toCurrency);
    },
    async findCryptoExchangeRate() {
      let symbol;

      if(!this.cryptoToCurrencyChange) {
        symbol = this.cryptoSymbols.find(element => element.symbol.includes(this.fromCurrency));

        //     --- Crypto - Fiat ---

        //Exchange rate from crypto-currency to EUR
        let toEUR = symbol.price;

        if(this.toCurrency === "EUR") {
          this.exchangeRate = toEUR;  //because there is no more need for conversion
        } else if(!this.cryptoCurrencies.includes(this.toCurrency)){
          //Convert EUR to target currency
          const res = await axios.get(`${BASE_URL}?base=EUR&symbols=${this.toCurrency}`);
          this.exchangeRate = toEUR * res.data.rates[this.toCurrency];
        }

      } else {
        symbol = this.cryptoSymbols.find(element => element.symbol.includes(this.toCurrency));

        //     --- Crypto - Fiat ---

        let amount;
        if(this.fromCurrency === "EUR") {
          amount = symbol.price; //because there is no more need for conversion
          this.exchangeRate = 1 / amount;
        } else if(!this.cryptoCurrencies.includes(this.fromCurrency)){
          //Convert fromCurrency to EUR
          const res = await axios.get(`${BASE_URL}?base=${this.fromCurrency}&symbols=EUR`);

          //Exchange rate from base currency(now in EUR) to crypto-currency
          amount = res.data.rates["EUR"] * symbol.price;
          this.exchangeRate = 1 / amount;
        }
      }

      //   --- Crypto - Crypto ---    Does not work for every case: e.g the symbol for ETH -> BTC is ETHBTC, but for BTC -> ETH, it's WBTCETH
      // ..so it's not consistent
      let cryptoBase = this.cryptoCurrencies.find(element => element ===(this.fromCurrency));
      let cryptoTarget = this.cryptoCurrencies.find(element => element ===(this.toCurrency));
      if(cryptoBase && cryptoTarget) {
        let SYMBOL = this.fromCurrency + this.toCurrency;
        const res = await axios.get(`${BASE_URL_CRYPTO}?symbol=${SYMBOL}`);
        this.exchangeRate = res.data.price;
      }

    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

body {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  min-height: 100vh;
}

.container {
  box-shadow: 0 4px 34px rgba(0, 0, 0, 0.20);
  overflow: hidden;
  border-radius: 20px;
  padding: 30px;

  h1 {
    margin: 0 0 1.5rem;
  }

  .equals {
    font-weight: bold;
    font-size: 2rem;
  }
}

</style>
